<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        ユーザー編集
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <%= form_with model: @user, local: true do |f| %>
          <div class="field">
            <div class="label">ユーザー名</div>
            <%= f.text_field :username, class:"input" %>
          </div>
          <div class="field">
            <div class="label">メールアドレス</div>
            <%= f.email_field :email, class:"input" %>
          </div>
          <div class="field">
            <div class="label">プロフィール</div>
            <%= f.text_area :profile, class:"textarea" %>
          </div>
          <div class="field">
            <div class="label">プロフィール画像</div>
            <%= f.file_field :image, placeholder: "画像アップロード" %>
          </div>
          <%= f.submit "更新", class: "button is-success" %>
        <% end %>
      </div>
    </div>
  </div>
</section>
